.meetup {
  /* width: calc(100%/3);
  min-width: 188px; */
  min-width: 250px;
  width: 100%;
}

.meetupTextPart .meetupTextElement {
  margin-top: 20px;
}

/* .meetupCard {
  cursor: pointer;
} */

.meetup img {
  display: block;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.meetup .roundedImageMeetup {
  border-radius: 10px;
}

.meetupImagePart {
  position: relative;
  display: flex;
  justify-content: center;
}

.roundedImageMeetup {
  border-radius: 10px;
}

.actions {
  /* border-radius: 10px; */
  position: absolute;
  bottom: -19px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.actionsLeft {
  /* padding: 10px;
  border-radius: 10px; */
  display: flex;
  /* background-color: #ec5990; */
}
.actionsRight {
  /* padding: 10px;
  border-radius: 10px; */
  display: flex;
  /* background-color: #ec5990; */
}
.actionsLeft .action {
  margin-left: 10px;
}
.actionsRight .action {
  margin-right: 10px;
}
.action {
  border-radius: 50%;
  /* border: none; */
  /* margin-left: 5px; */
  font-size: 20px;
  background-color: white;
  border: none;
  padding: 8px 11px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.action:hover {
  cursor: pointer;
  /* background-color: #ec5990; */
}

/* .action:hover, .action:active{
  background-color: #ec5990;
} */

/* .action:hover:focus {
  background-color: white;
} */

/* .action:hover:visited {
  background-color: white;
} */

/* .action:hover, .action:active{
  background-color: #ec5990;
} */

/* .edit:hover {
  background-color: #ec5990;
} */

.activeFavorite {
  background-color: #ec5990;
}

/* .recycleBin:hover {
  background-color: #ec5990;
} */

.meetupTextPart {
  padding: 20px;
  color: black;
  font-family: 'Gilroy-Light';
}

.meetupTextPart.darkMode {
  color: #ec5990;
}