.allMeetups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 30px;
  padding: 30px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media all and (max-width: 648px) {
  .allMeetups {
    justify-content: center;
  }
}