.meetup {
  /* width: calc(100%/3);
  min-width: 188px; */
  min-width: 250px;
  width: 100%;
}

.meetupTextPart .meetupTextElement {
  margin: 20px 0;
  font-size: 1em;
}

/* .meetupCard {
  cursor: pointer;
} */

.meetup img {
  display: block;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.meetup .roundedImageMeetup {
  border-radius: 10px;
}

.meetupImagePart {
  position: relative;
  display: flex;
  justify-content: center;
}

.roundedImageMeetup {
  border-radius: 10px;
}

.actions {
  position: absolute;
  bottom: -34px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.actionsLeft {
  display: flex;
  /* background-color: #ec5990; */
}
.actionsRight {
  display: flex;
  /* background-color: #ec5990; */
}
.actionsLeft .action {
  margin-left: 20px;
}
.actionsRight .action {
  margin-right: 20px;
}
.action {
  border-radius: 50%;
  background-color: white;
  border: none;
  padding: 18px 22px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.action.darkMode {
  background-color: #0a1120;
}
.action:hover {
  cursor: pointer;
  /* background-color: #ec5990; */
}

/* .action:hover, .action:active{
  background-color: #ec5990;
} */

/* .action:hover:focus {
  background-color: white;
} */

/* .action:hover:visited {
  background-color: white;
} */

/* .action:hover, .action:active{
  background-color: #ec5990;
} */

/* .edit:hover {
  background-color: #ec5990;
} */

.action.activeFavorite {
  background-color: red;
}

/* .recycleBin:hover {
  background-color: #ec5990;
} */

.meetupTextPart {
  padding: 20px;
  /* color: #2c3e50; */
  font-family: 'Gilroy-Light';
}

.meetupTextPart.darkMode {
  color: #ec5990;
}