.form {
  padding: 1em;
  background-color: lightgray;
  color: black;
  border-style: solid;
  border-color: lightgray;
}

.form.darkMode {
  background-color: #15243f;
  color: #cfd9e4;
  border-style: solid;
  border-color: #15243f;
}

.labelContainer {
  height: 38px;
}

.blockField {
  margin: 10px 0;
}

@keyframes slide {
  from {
    top: 40px;
    font-size: 30px;
    left: 10px;
  }
  to {
    left: 0;
    top: 10px;
    font-size: 20px;
  }
}

.animated {
  left: 0;
  top: 10px;
  font-size: 20px;
  animation: slide 0.5s ease-out 1;
}

label {
  display: block;
  text-align: left;
  left: 10px;
  position: relative;
  top: 40px;
  font-size: 30px;
}
textarea {
  font-family: 'Gilroy-Medium';
}
input,
textarea {
  border-radius: 16px;
  display: block;
  width: 100%;
  font-size: 1em;
}

input:not(:focus) {
  border-style: solid;
  border-color: white;
}
textarea:not(:focus) {
  border-color: white;
}
.darkMode input:not(:focus) {
  border-style: solid;
  border-color: #15243f;
}
.darkMode textarea:not(:focus) {
  border-color: #15243f;
}

.darkMode input,
.darkMode textarea {
  /* background-color: #23272d; */
  background-color: #0a1120;
  color: #cfd9e4;
}

.addMeetup {
  margin-top: 1em;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border: none;
  padding: 18px 22px;
}
.addMeetup.darkMode {
  background-color: #0a1120;
  color: #cfd9e4;
}