.toggleButton {
  
  border-radius: 50%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border: none;
  position: fixed;
  bottom: 14px;
  z-index: 1;
  padding: 18px 22px;
}
.toggleButton:hover {
  cursor: pointer;
}
.toggleThemeView {
  right: 20px;
}
.toggleCardView {
  left: 20px;
}
.toggleButton.darkMode{
  background-color: #0a1120;
}
